<div class="container-fluid px-0">
    <div class="row g-0">
        <div class="col-auto bg-secondary">
            <div class="sidebar vh-100">
                <nav class="navbar">
                    <!-- User info -->
                    <div class="d-flex align-items-center ms-4 mb-4"
                        *ngIf="user">
                        <div class="position-relative">
                            <img class="rounded-circle"
                                [src]="user.avatar_url ? apiService.getBaseUrl() + '/' + user.avatar_url : 'assets/user.jpg'"
                                alt="Profile"
                                style="width: 40px; height: 40px;">
                            <div
                                class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                        </div>
                        <div class="ms-3">
                            <h6 class="mb-0">{{ user.username }}</h6>
                            <span>{{ user.role_name }}</span>
                        </div>
                    </div>

                    <!-- Menus -->
                    <div class="navbar-nav">
                        <ng-container *ngFor="let menu of menus">
                            <!-- Single link -->
                            <a *ngIf="!menu.children"
                                [routerLink]="menu.link"
                                class="nav-link"
                                [ngClass]="{'active': isActive(menu.link)}">
                                <i [class]="menu.icon"></i> {{ menu.label }}
                            </a>

                            <!-- Dropdown menu -->
                            <div *ngIf="menu.children" class="nav-item">
                                <a href="javascript:void(0)"
                                    class="nav-link d-flex align-items-center justify-content-between"
                                    (click)="toggleDropdown(menu)"
                                    [ngClass]="{'active': isChildActive(menu)}">
                                    <span class="d-flex align-items-center">
                                        <i [class]="menu.icon"></i>
                                        <span class="ms-2">{{ menu.label
                                            }}</span>
                                    </span>
                                    <i class="fa fa-chevron-down"
                                        [ngClass]="{'rotate': menu.open}"></i>
                                </a>

                                <div class="dropdown-menu"
                                    [class.show]="menu.open">
                                    <a *ngFor="let child of menu.children"
                                        [routerLink]="child.link"
                                        class="dropdown-item"
                                        [ngClass]="{'active': isActive(child.link)}">
                                        {{ child.label }}
                                    </a>
                                </div>

                            </div>
                        </ng-container>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
