.dropdown-item {
    color: #6C7293;
}
// .sidebar-toggler {
//   color: #ffffff;
//   text-decoration: none;
//   font-size: 1.2rem;
//   padding: 0.5rem;
//   cursor: pointer;
//   transition: all 0.3s ease;
  
//   &:hover {
//     color: #0d6efd;
//     transform: scale(1.1);
//   }
  
//   &.active {
//     color: #0d6efd;
//   }
// }
